html {
    font-family: sans-serif;
    background-color: beige;
}

#grid-container {
    display: flex;
    width: 500px;
    height: 500px;

}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.square {
    display: flex;
    flex: 1;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: grey;
}

.square:active {
    box-shadow: 0 5px #666;
    transform: translateX(2px) translateY(2px);
}

.operators {
    background-color: orange;
}

.equals {
    background-color: aqua;
}

#extras-container {
    display: flex;
    width: 375px;
    height: 60px;
}

.extra {
    display: flex;
    flex: 1;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: tan;
}

.extra:active {
    box-shadow: 0 5px #666;
    transform: translateX(1px) translateY(1px);
    background-color: maroon;
}

#display-container {
    display: flex;
    width: 500px;
    height: 80px;
}

#display {
    display: flex;
    flex: 1;
    font-size: 30px;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    border: 2px solid blue;
    background-color: skyblue;
}